.cardholder{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    text-align: center;
}

img{
    width:200px;
    height:200px;
    border-radius: 50%;
}

/* .button{
  align-items: center;
} */