
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(
    to right top,
    red, yellow, green, blue
  );
  background-attachment: fixed;
  text-align: center;
}

button{
  font-family: inherit;
  padding: 1rem;
  margin: 1rem;
  background: white;
  box-shadow: 0 0 5px #747474;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  text-transform: uppercase;
}